body {
  /* background-color: black; */
}

/* HEADER --------------------------------- */
.header {
  display: block;
  background: black;
  width: 100%;
  height:600px;
  font-family: arial;
}
.title-name {
  text-align: center;
  width: 100%;
  line-height: 400px;
  font-size: 9em;
  text-shadow: 0.1em 0.1em 0.4em black
}

.d-block, .w-100 {
  height: 600px;
}

.carousel h3{
  font-size: 50px;
  text-shadow: 0.1em 0.1em 0.4em black
}

.carousel p{
  font-size: 20px;
  text-shadow: 0.1em 0.1em 0.4em black
}



/* PROJECTS ------------------------------ */
.projects {
  background-color: blue;
}

.projects h1{
background-color: blue;
}
